#image {
    text-align: center;
}

#image img {
    /* border-radius: 50%; */
    /* width: 45%; */
    width: 31%;
    height: auto;
     /* Firefox 3.5+, IE10 */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease;
    /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden;
    /* Fix for transition flickering */
}

#image img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

 
.socialmedia {
    width: 45%;
    grid-column-start: 2;
    margin: 2em auto;
    text-align: center;
    background-color: #262529;
    color: #fff;
    border: 1px solid #707070;
    border-radius: 25px; 
    padding: 1.5em;
     font-size: 16px;
}

@media only screen and (max-width: 769px) {
    .socialmedia {
        width: 50%;
        padding: 1.5 .2em;
    }
}


.subsocialmedia a {
    display: inline-block;
    margin: 0 2em;
}

.subsocialmedia > p {
    margin-top: -.2em
}