@import '../../../variables.scss';

.showCaseTitle {
    color: red;
    text-align: center;
    font-size: 3.5em;
}

.coverImage {
    text-align: center;
    margin-bottom: 2em;
}

@media only screen and (max-width: 500px) {
    .coverImage img {
        width: 80%;
    }
}
.info {
    color: $generalTextColor;
    background-color: $generalTextBackground;
    border: 1px solid #707070;
    border-radius: 25px; 
    padding: .5em 1em;
    /* opacity: 50%; */
    font-size: $generalTextSize;
    margin: 0 auto;
    width:65%;
}

.photoArray {
    text-align: center;
}

.photoArray img {
    width: 58%;
    margin: 0 auto;
}