@import '../../../variables.scss';

.showCaseTitle {
    color: salmon;
    text-align: center;
    font-size: 3.5em;
}

.coverImage {
    text-align: center;
    margin-bottom: 2em;
}

@media only screen and (max-width: 500px) {
    .coverImage img {
        width: 80%;
    }
}
.info {
    color: $generalTextColor;
    background-color: $generalTextBackground;
    border: 1px solid #707070;
    border-radius: 25px; 
    padding: .5em 1em;
    /* opacity: 50%; */
    font-size: $generalTextSize;
    margin: 0 auto;
    width:65%;
}

.photoArray {
    text-align: center;
}

.photoArray img {
    width: 58%;
    margin: 0 auto;
}

.phaseTitle {
    color: goldenrod;
    font-weight: bold;
    // font-size: 1.2em;
}

// Buttons

#returnBtn {
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1.2em;
    border-radius: 20px;
    padding: .5em;
    cursor: pointer;
}

#returnBtn:hover {
    color: #000;
}

.topBtn {
    display: block;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1.2em;
    border-radius: 20px;
    padding: .5em 0;
    cursor: pointer;
}

.launchBtn {
    background-color: #20793D;
    color: #fff;
    cursor: pointer;
    padding: .5em;
    min-width: 20%;
    border-radius: 15px;
    font-weight: bold;
    font-size: .8em;
}

.launchBtn:hover{ 
    color: goldenrod;
}
