.slideImg img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

button.slideBtn {
    display: inline-block;
    text-align: center;
    // margin: 0 auto;
    background-color: orange;
    font-weight: bold;
    color: #000;
}