#image {
    text-align: center;
}

#image img {
    border-radius: 50%;
    width: 45%;
    height: auto;
     /* Firefox 3.5+, IE10 */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease;
    /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden;
    /* Fix for transition flickering */
}

#image img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

 
 
