@import '../../variables.scss';

.navContainer {
    background-color: $navBackground;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5em;
    border-bottom: 2px solid $navBottomBorder;
}

@media only screen and (max-width: 596px) {
    .navContainer {
        display: none;
    }
}

.nav {
    font-family: Lemonada, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: $navLinkColor;
    text-transform: capitalize;
    margin: 0 1em;
}
