@import '../../variables.scss';

.contactBtn {
    background-color: $contactColor;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em auto;
    text-align: center;
    display: block;
}

.contactLink {
    color: #fff;
    text-decoration: none;
}