.projectViewGrid {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

@media only screen and (max-width: 597px) {
    .projectViewGrid {
        display: block;
    }
}

.projectPreview img {
    width: 50%;
}

.projectViewGrid a.locked {
    display: block;
    color: goldenrod;
    text-decoration: none;
    text-align: center;
    margin: 33% auto;
}

.projectViewGrid a > img:hover {
    /* background-color: #000; */
    opacity: 80%;
    content: "UWU";
}