html {
    font-size: 16px;
}

body {
    background-color: #212024;
}

#bioArrangement {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#bioArrangement h1 {
    color: lightseagreen;
    font-family: 'Sriracha', cursive;
}

#bioArrangement > div {
    padding: 0 2em;
}

#currentAbilities {
    display: flex;
}

 