@import './variables.scss';

html {
    font-size: 16px;
}

body {
    background-color: #212024;
    font-family: 'Helvetica', sans-serif;
}

#bioArrangement {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media only screen and (max-width: 769px) {
    #bioArrangement {
        display: block;
    }
}

#bioArrangement > div {
    padding: 0 2em;
}

.contentSection {
    padding: 0 2em;
}

#currentAbilities {
    display: flex;
}

@media only screen and (max-width: 400px) {
    #currentAbilities {
        display: block;
    }
}

// Grid
.splitDivide {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2em;
}

@media only screen and (max-width: 500px) {
    .splitDivide { 
        display: block;
    }
}

.splitDivide section {
    margin: 0 1em;
}

@media only screen and (max-width: 500px) {
    .splitDivide section {
        margin: 1em;
    }
}

.splitDivideAlt {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2em;

}