// Navigation Colors
$navBackground: #262529;
$navBottomBorder: #707070;
$navLinkColor: #FFF8B5;


// Section Colors
$sectionColor: #C8B5FF;

//Text Property
$generalTextColor: #fff;
$generalTextBackground: #262529;
$generalTextSize: 1.2em;
$keyWordColor: #A369B3;

//Contact Link Colors
$contactColor: #ff8c00;


// Contact buttons
 